<h1>MX Users</h1>

<p>If you don't already have a user below, please create one, then as that user we can connect an Institution to their account using the MXConnect Widget</p>

<p>Click "Show" for one of the users below once you have one</p>

<table>
  <thead>
    <tr>
      <th>Name (metadata)</th>
      <th>MX GUID</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.external_id %></td>
        <td><%= link_to "Show", user %></td>
        <td><%= link_to "Destroy", user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New User", new_user_path %>
