<%= link_to "Welcome", root_path %> /
Users

<h1>MX Users</h1>
<h2>Step 1</h2>

<p>Let's create a user with the MX API.  Click "Create User" below.<p>

<p>Alternatively, if you've already created a user they will be listed below and you can go to their dashboard directly.</p><br>
<%= link_to "Create User", new_user_path %><br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>MX GUID</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.guid %></td>
        <td><%= link_to "Show User Dashboard", "/users/#{user.guid}" %></td>
        <td><%= link_to "Destroy", "/users/#{user.guid}", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "link-destructive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @error %>
  <script>
    alert("<%= @error %>")
  </script>
<% end %>
<br>
