<h1>MX Users</h1>
<h2>Step 1</h2>

<p>Let's create a user with the MX API.  Click "Create User" below.<p>

<%= link_to "Create User", new_user_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>MX GUID</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.guid %></td>
        <td><%= link_to "Show User Dashboard", "/users/#{user.guid}" %></td>
        <td><%= link_to "Destroy", "/users/#{user.guid}", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Once you have a user, click "Show User Dashboard" to  continue the demo</p>
