<%= link_to "Welcome", root_path %> /
<%= link_to "Users", users_path %> /
Create User

<h1>Create an MX User</h1>

<%= render "/http_example", 
  description: "To create an MX user you send an http message to:", 
  method: "POST", 
  url: "/users", 
  href: "https://docs.mx.com/api#core_resources_users_create_user" 
%>

<p>Fill in a few small pieces of information to create a user<p>

<%= form_with url: "/users", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %><br>
  <br>
  <%= form.submit "Save User"%>
<% end %>
