<h1>Enter your information</h1>

<%= form_with url: "/users", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :email %>
  <%= form.text_field :email %><br>
  
  <br>
  <%= form.submit "Save User"%>
<% end %>
