<%= link_to "Welcome", root_path %> /
<%= link_to "Users", users_path %> /
Create User

<h1>Create an MX User</h1>

<%= render "/http_example", 
  title: "Create User",
  description: "This endpoint creates a new user. Creating an MX user is the first step to enabling the rest of the API. Once created you can use their GUID to connect to institutions, list that user's accounts, and more.", 
  method: "POST", 
  url: "/users", 
  href: "https://docs.mx.com/api#core_resources_users_create_user" 
%>

<p>Fill in a few small pieces of information to create a user<p>

<%= form_with url: "/users", method: :post do |form| %>
  <div class="form-input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-input">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.submit "Save User"%>
<% end %>
