<h2>MX Accounts</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>MX GUID</th>
      <th>Get Auth Code</th>
      <th>Auth Code</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.guid %></td>
        <td>
            <button 
                data-account-guid="<%= account.guid %>"
                data-member-guid="<%= account.member_guid %>"
                data-user-guid="<%= account.user_guid %>"
            >
                Generate Auth Code
            </button>
        </td>
        <td data-account-guid="<%= account.guid %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
    // Assign buttons their actions
    document.querySelectorAll("button[data-account-guid]").forEach(element => {
       element.addEventListener("click", () => {
           const accountGUID = element.getAttribute("data-account-guid")
           const memberGUID = element.getAttribute("data-member-guid")
           const userGUID = element.getAttribute("data-user-guid")

           // Ask Rails to fetch an auth code for the account
           fetch(`/mx/accounts/generate-auth-code/${accountGUID}/${memberGUID}/${userGUID}`)
           .then(resp => resp.text())
           .then(resp => {
             try {
               parsedResponse = JSON.parse(resp)
               console.log(parsedResponse.authorization_code)
             } catch (error) {
               console.error("Invalid response was returned")
               console.error(error)
               return
             }
           })
       })
   })
</script>